.btn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px !important;
	padding: 5px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	margin: 0px;
}
.btn.btn-blue {
    background-color: #699DB6;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
}

.btn.btn-blue:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,0.5);
}

.btn.btn-blue:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
}