/* @import url(colors.css); */

#content_manager {
    display: flex;
    flex: 1;
    overflow-y: scroll;
}

#content_manager content {
    flex: 1;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

/* #content_manager > ul.content_nav {
    margin-bottom: 0px;
} */

createzone {
    /* display: flex; */
    flex: 1;
    /* border: 1px solid red; */
    overflow: auto;
}

/* .create_zone_fields {
    flex-direction: column;
    text-transform: uppercase;
    flex: 1;
} */

/* Label Fields */
.create_zone_fields > li > label {
    min-width: 150px;
}

/* Input fields */
.create_zone_fields > li > input,select,button {
     flex: 0 1 auto;
     height: 35px;
     padding: 5px;  
     margin-top: 5px;
     font-family: 'Montserrat', sans-serif;
     /* border: 1px solid orange; */
 }

.create_zone_fields > li > label, 
.create_zone_fields > li > p {
    flex: 1 0 120px;
    max-width: 220px;
}
.create_zone_fields > li{
    display: flex;
    flex:1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding-right: 10px;
    margin: 0px;
}

h4 {
    margin: 0px;
}

.create_zone_fields h2 {
    margin-top: 15px;
    font-weight: bolder;
    color: var(--color-primary);
    padding-left: 0px;
}

.create_zone_fields > li > label {
    flex: 2;
}

#dowlist {
    display: flex;
    /* padding: 10px; */
    flex:1;
    min-height: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 2px solid black;  */
    flex-wrap: wrap;
    
    
} 

#dowlist > li {
    flex: 1;
    padding: 10px;
    display: flex;

    /* border: 1px solid red; */
    justify-content: flex-end;
}


#dowlist > li > label:first-child{
 
    width: 80px;

}

/* All elements after the label field */
.create_zone_fields > li > label + * {
  flex: 1 0 220px;
  /* border: 1px solid red; */

}

.create_zone_fields input[type=text]{
    padding-left: 10px;
}

.create_zone_fields input[type=text]:focus {
    border: 1px solid var(--color-primary);
}

hr {
	height: 10px;
	border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    /* clear: both; */
    margin-top: 10px;
    margin-bottom:5px;
}




#schedule_area {
    margin: 0px;
    padding: 0px;
}


.create_zone_fields button {
    background: #76B3FA;
    border-radius: 20px;
    padding: 5px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 1.0em;
    /* margin: 0 15px; */
  }
  
  /* Hover state animation applied here */
  .create_zone_fields button:hover { 
    /* -webkit-animation: hover 1200ms linear 2 alternate; */
    animation: hover 1200ms linear 2 alternate;
  }
  
  /* Active state animation applied here */
  .create_zone_fields button:active {
    /* -webkit-animation: active 1200ms ease 1 alternate; */
    animation: active 1200ms ease 1 alternate; 
    background: #5F9BE0;
  }

  #btnCreateZone {
      flex: 1;
  }

  create_zone_grid {
      display: grid;
      grid-template-columns: auto 2fr;
      align-items: center;
  }

  create_zone_grid > label {
    line-height: 3em;
    margin: 0px;
    justify-content: right;
    text-align: right;
    margin-right: 10px;
    /* border: 1px solid red; */
  }
  create_zone_grid > input, create_zone_grid > select {
    line-height: 2em;
    margin-left: 10px !important;
    /* border: 1px solid green; */
  }

  create_zone_grid > line {
    border-bottom: 1px solid #F5F5F5;
    grid-column: 1 /  span 2;
  }

  create_zone_grid > .section_header {
    grid-column: 1 / span 2;
    margin-top: 15px;
    font-weight: bolder;
    color: var(--color-secondary-text);
    background-color: var(--color-secondary);
    padding-left: 0px;
    padding: 0.2em;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }


  create_zone_grid > .submit_button {
      grid-column: 1 / span 2;
      margin-top: 15px;
  }

  create_zone_grid > #schedule_area {
      grid-column: 1 / span 2;
  }

  create_zone_grid > schedules {
      grid-column: 1 / span 2;
  }

  create_zone_grid > schedules > schedule {
      display: grid;
      grid-template-columns: 1fr 2fr 50px auto;
      align-items: center;
  }

  create_zone_grid > schedules > schedule > label {
    grid-column: 1;
    line-height: 2.5em;
    margin: 0px;
    padding-left: 25px;
  }

  create_zone_grid > schedules > schedule > line {
    border-bottom: 1px solid #F5F5F5;
    grid-column: 1 /  span 4;
      
  }

  create_zone_grid > schedules > schedule > input, schedule > select {
      grid-column: 2 / span 3;
      margin: 0px;
  }


  .schedule_checkbox {
      grid-column: 3;
  }
  schedule_label {
      grid-column: 4;
      line-height: 2em;
      margin-right: 15px;

      margin-left: 10px;
  }

  schedule > h4 {
      grid-column: 1 / span 3;
  }

  days_header {
      grid-column: 1 / span 4;
      padding-left: 25px;
  }

  #btnAddSchedule {
      width: fit-content;
      float: right;
  }

  .buttonContainer {
      display: block;
      float: right;
     
  }

  section_divider {
    border-bottom-style: groove;
    border-bottom-color: var(--color-secondary);
    border-bottom-width: 5px;
  }
  

  