#content_dashboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
}

/* Enable display of all divs within the zonecard */
zonecard div, settingscard div {
    display: block;
}

settingscard {
    border: 1px solid grey;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-height: max-content;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "propt1 propt2 propt3"
        "prop1 prop2 prop3"
}

/* Setup the */

/* Grid layout for a zone card */
zonecard {
    border: 1px solid grey;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* display: flex; */
    /* flex: 0 1 auto; */
    margin-top: 10px;
    /* overflow: scroll; */
    min-height: max-content;
    
    
    
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "title propt1 propt2 propt3 propt4 links"
        "description prop1 prop2 prop3 prop4 links"
        "description prop1 prop2 prop3 prop4 links"
}


/* Setup all the template areas for the zone grid */
.zone_card_title {grid-area: title;}
.description {grid-area: description;}
.prop_title_1{grid-area: propt1;}
.prop_content_1{grid-area:prop1;}
.prop_title_2{grid-area: propt2;}
.prop_content_2{grid-area:prop2;}
.prop_title_3{grid-area: propt3;}
.prop_content_3{grid-area:prop3;}
.prop_title_4{grid-area: propt4;}
.prop_content_4{grid-area:prop4;}
.prop_links {grid-area: links; display: flex;}

/* Zone card title */
.zone_card_title {
    border-right: 1px solid grey;
    color: var(--color-tertiary);
    background: var(--color-secondary);
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 14pt;
    padding-left: 10px;
}

.description {
    font-style: italic;
    border-right: 1px solid grey;
    padding-left: 10px;
    padding-top:5px;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* Zone property title */
.prop_title {
    border-right: 1px solid grey;
    text-align: center;
    background-color: var(--color-tertiary); 
    color: var(--color-tertiary-text1);
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}

.prop_content {
    text-align: center;
    border-right: 1px solid grey;
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}



ul.action {
    display: flex;
    flex: 1;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    font-size: 1.0em;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    justify-content: center;
    background: var(--color-tertiary);

    
}


ul.action li {
    display: flex;
    flex:1;
    width: 100%;
    border-bottom: 1px solid var(--color-tertiary-accent);
    overflow: auto;
    justify-content: center;
}

ul.action li.bottom_item {
    border: none;
}

ul.action li a {
    flex: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: auto;
    padding: 5px;
    color: var(--color-tertiary-text1);
}

ul.action li:hover {
    background: var(--color-secondary-text1);
}






/* Decision History styling */
historycard {
    border: 1px solid grey;
    border-top: 0px;
    margin-top: 1em;
    /* display: flex;  */
    /* flex: 0 1 auto; */
    /* flex-direction: column; */
    min-height: max-content;

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-areas:
        "title propt1 propt2 propt3 propt4 links"
        "description prop1 prop2 prop3 prop4 links"
        "description prop1 prop2 prop3 prop4 links" */
}



.decisionitem {
    padding-left: 5px;
    border-bottom: 1px solid grey;
}


.decisionheader {
    background-color:var(--color-tertiary);
    color: var(--color-tertiary-text1);
    border-bottom: 1px solid var(--color-secondary); 
    /* flex-direction: row; */
    min-height: max-content;
    padding-left: 5px;
    /* text-align: center; */
}

/* time, starttime, righttime {
    min-width: 7em;
    max-width: 7em;
} */




/* Applies to all zone segments */
zonesegment {
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligns items vertically in the segment */
    justify-content: center; /* ALigns items horizontally in the segment */
    padding: 10px;
    overflow: scroll;
}

zonesegment.middle {
    flex-direction: row;
    /* background: var(--color-secondary);
    color: var(--color-secondary-text1); */
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    align-items: stretch;
    padding:0px;
    justify-content: left;
    flex: 2;
}


segment {
    flex: 1;
    flex-direction: column;
    display: flex;
    border-right: 1px solid grey;
    
}

segment > * {
    overflow: hidden;
    text-align: center;
}

segmentbottom {
    flex: 1;
}

segmenttop {
    margin-bottom: 10px;
    font-weight: 800;
    background: var(--color-secondary);
    color: var(--color-secondary-text1);
    /* -webkit-border-radius: 5px; */
    /* -moz-border-radius: 5px; */
    /* border-radius: 5px; */
    /* border: 1px solid var(--color-secondary); */
    /* margin-left:2px;
    margin-right: 2px; */

}



zonesegment.right {
    padding: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
}

/* zonesegment.right ul.action {
    display: flex;
    flex: 1;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    font-size: 1.0em;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    justify-content: center;
    background: var(--color-tertiary);

    
    
} */

/* zonesegment ul.action li {
    display: flex;
    flex:1;
    width: 100%;
    border-bottom: 1px solid var(--color-tertiary-accent);
    overflow: auto;
    justify-content: center;
} */
/* zonesegment ul.action li.bottom_item {
    border: none;
} */







zonesegment.left {
    flex: 1 1 auto;
    min-width: 10em;
    max-width: 10em;
    display: block;
    background: var(--color-tertiary);
    color: white;
}

zonesegment.left > zone_description {
    display: inline-block;
    font-size: 1em;
    font-style: italic;
}

zonesegment.left > zone_title {
    display: inline-block;
    font-size: 1.5em;

}



hidden {
    display: none;
}

.hide {
    display: none;
}

img.status_icon {
    width: auto;
    height: 20px;
}

/* TODO: Move this to a global css */
#alerts_container {
    /* border: 1px solid red; */
    display: flex;
    min-height: max-content;
    flex-direction: column;

}

#alerts_container div {
    flex: 1;
    display: block;
}
