#content_dashboard {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    padding: 1em;
    
}

/* Hides the scrollbar */
#content_dashboard::-webkit-scrollbar { width: 0 !important }

/* Enable display of all divs within the zonecard */
zonecard div, settingscard div {
    display: block;
}

settingscard {
    border: 1px solid grey;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    min-height: max-content;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

/* Setup the */

/* Grid layout for a zone card */
zonecard {
    border: 1px solid grey;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* display: flex; */
    /* flex: 0 1 auto; */
    margin-top: 10px;
    overflow: hidden;
    min-height: max-content;
    
    
    
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "title propt1 propt2 propt3 propt4 links"
        "description prop1 prop2 prop3 prop4 links"
        "description prop1 prop2 prop3 prop4 links"
}


/* Setup all the template areas for the zone grid */
.zone_card_title {grid-area: title;}
.description {grid-area: description;}
.prop_title_1{grid-area: propt1;}
.prop_content_1{grid-area:prop1;}
.prop_title_2{grid-area: propt2;}
.prop_content_2{grid-area:prop2;}
.prop_title_3{grid-area: propt3;}
.prop_content_3{grid-area:prop3;}
.prop_title_4{grid-area: propt4;}
.prop_content_4{grid-area:prop4;}
.prop_links {grid-area: links; display: flex;}

/* Zone card title */
.zone_card_title {
    border-right: 1px solid var(--color-secondary-accent);
    color: var(--color-secondary-text);
    background: var(--color-secondary);
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 14pt;
    padding-left: 10px;
}

.description {
    font-style: italic;
    border-right: 1px solid var(--color-line-divider-subtle);
    padding-left: 10px;
    padding-top:5px;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* Zone property title */
.prop_title {
    border-right: 1px solid var(--color-secondary-accent);
    text-align: center;
    background-color: var(--color-secondary); 
    color: var(--color-secondary-text);
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 2em;
    
}

.no_border_right {
    border-right: none;
}

.prop_content {
    text-align: center;
    border-right: 1px solid var(--color-line-divider-subtle);
    padding-top: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
}



ul.action {
    display: flex;
    flex: 1;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    justify-content: center;

    
}


ul.action li {
    display: flex;
    flex:1;
    width: 100%;
    border-bottom: 1px solid var(--color-secondary);
    overflow: auto;
    justify-content: center;
    background: var(--color-primary);
    
}


/* ul.action li:hover {
    background-color: var(--color-primary-accent);
    
} */

ul.action li.bottom_item {
    border: none;
}

ul.action li a {
    flex: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: auto;
    padding: 5px;
    color: var(--color-primary-text);
    text-transform: uppercase;

    
}

ul.action li a:hover, ul.action li a:active {
    color: var(--color-primary-accent);
}

/* ul.action li:hover {
    background: var(--color-secondary-text); 
    color: var(--color-primary-text-accent);
} */






/* Decision History styling */
historycard {
    border: 1px solid grey;
    border-top: 0px;
    margin-top: 1em;
    /* display: flex;  */
    /* flex: 0 1 auto; */
    /* flex-direction: column; */
    min-height: max-content;

    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-template-areas:
        "title propt1 propt2 propt3 propt4 links"
        "description prop1 prop2 prop3 prop4 links"
        "description prop1 prop2 prop3 prop4 links" */
}



.decisionitem {
    padding-left: 5px;
    border-bottom: 1px solid grey;
    font-variant: small-caps;
    vertical-align: middle;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.actionbuttoncell {
    margin-top: 0.5em !important;
    margin-bottom:0.5em !important;
    border-bottom: 1px solid grey !important;
    
}


decisionheader {
    background-color:var(--color-tertiary);
    color: var(--color-tertiary-text);
    border-bottom: 1px solid var(--color-secondary); 
    /* flex-direction: row; */
    min-height: max-content;
    padding-left: 5px;
    font-variant: all-small-caps;
    font-size: 1.9rem;
}

history_details {
    grid-column: 1 / span 6;
    display: grid;
    grid-template-columns: auto auto auto auto;
    border-bottom: 1px solid var(--color-line-divider-bold);
    color: var(--color-primary-text);
    background-color: var(--color-primary)
    
}
/* time, starttime, righttime {
    min-width: 7em;
    max-width: 7em;
} */












hidden {
    display: none;
}

.hide {
    display: none;
}

img.status_icon {
    width: auto;
    height: 20px;
}

/* TODO: Move this to a global css */
#alerts_container {
    /* border: 1px solid red; */
    display: flex;
    min-height: max-content;
    flex-direction: column;

}

#alerts_container div {
    flex: 1;
    display: block;
}

subcontent#dashboard {
    flex: 1;
}