@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    box-sizing: border-box
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}


/* Main section is a 3 vertical panes */
.flex-container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 80vw;
    height: 100%;
    margin: auto;
    /* justify-content: center */

}

#main {
    display: flex;
}

footer {
    padding: 1em;
}

header {
    /* border: 2px solid #a2a2a2; */
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
    text-transform: uppercase;
    display:flex;
    flex-direction: column;

}

header h1 {
    font-size: 3em;
    color: #34495e;
    text-align: center;
}

footer {
    background: #f4f4f4;
    height: auto;
    border-top: 1px solid black;
}

/* Adjust navigation styling */
.nav {
    /* flex: 0 0 auto; */
    display: flex;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color:  rgba(238,238,238 ,1);
    border-radius: 5px;
    align-items: center; /* This determines the vertical positioning of the list items */
    justify-content:space-around; /* This determines the horizontal distribution of the list items */
    color: rgba(117,117,117 ,1);
    padding-bottom: 5px;
    padding-top: 0px;
    margin: 0; /* remove the margin so it's snug against the other components */

}

/* Remove bullet and add some padding for list items within the header */
.nav li {
    /* border: 1px solid red; */
    padding: 10px 15px;
    display: block; 
}

.nav li.bar {
    /* border: 1px solid green; */
    font-size: 1.25em;
    /* text-align: justify; */
    padding: 0;
    /* display:block; */
}

.nav a {
    color: #34495e;
    font-size: .99em;
}

.nav a:hover {
    color: #718daa;
}

.nav a {
    text-decoration: none;
}



/*****************
Manage all the content
******************/

/* Give the article a higher weight */
content {
    flex: 1;
    display: flex;
}

content div {
    display: none;
}
content div.show {
    display: block;
}

