@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);
@import url(colors.css);
/* overcast */

* {
    box-sizing: border-box
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}


/* Main section is a 3 vertical panes */
.flex-container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    border-left: 1px solid black;
    width: 80vw;
    height: 100%;
    margin: auto;
    overflow: auto;
    /* justify-content: center */

}

#main {
    display: flex;
}

footer {
    padding: 1em;
}

header {
    /* border: 2px solid #a2a2a2; */
    background-color: var(--color-primary);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0;
    text-transform: uppercase;
    display:flex;
    flex-direction: column;
    background-image: url("https://www.transparenttextures.com/patterns/binding-dark.png");

}

header h1 {
    font-size: 3em;
    color: var(--color-primary-text1);
    text-align: center;
}

footer {
    background: var(--color-primary);
    height: auto;
    border-top: 1px solid #a2a2a2;
    margin: 0;
}

/* Adjust navigation styling */
.nav {
    /* flex: 0 0 auto; */
    display: flex;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color:  rgba(238,238,238 ,0.5);
    border-radius: 5px;
    align-items: center; /* This determines the vertical positioning of the list items */
    justify-content:space-around; /* This determines the horizontal distribution of the list items */
    color: var(--color-primary-text1);
    padding-bottom: 5px;
    padding-top: 0px;
    margin: 0; /* remove the margin so it's snug against the other components */

}

/* Remove bullet and add some padding for list items within the header */
.nav li {
    padding: 10px 15px;
    display: block; 
}

.nav li.bar {
    font-size: 1.25em;
    padding: 0;
    }

.nav a {
    color: var(--color-primary-text1);
    font-size: .99em;
    text-decoration: none;
    
}

.nav a:hover {
    color: var(--color-primary-text2);
    font-weight: bolder;
}


/*****************
Manage all the content
******************/

/* Give the article a higher weight */
content {
    flex: 1;
    display: flex;
    overflow: auto;
}

content div {
    display: none;
}
content div.show {
    display: block;
}

.content_nav {
    background-color: var(--color-primary);
    border-right: 1px solid #a2a2a2;
    margin-top:0px;
    margin-bottom: 0px;
    padding: 5px;
    text-transform: uppercase; 
      
}

.content_nav li {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}


.content_nav a {
    text-decoration: none;
    color: var(--color-primary-text1);
    font-size: .99em;
}

.content_nav a:hover {
    color: var(--color-primary-text2);
}


