#content_logs{
    display: flex;
    flex: 1;
    overflow-y: scroll;
    flex-direction: column
}

/* Settings for the input level picker */
inputlevels
{
    display: flex;
    flex-shrink:0;
    flex-grow: 1;
    flex-direction: row;
    margin: 8px;
}

inputlevels button
{
    flex: 1;
}

inputlevels button.logLevelFilter {
    background-color: var(--color-tertiary);
    color: var(--color-tertiary-text1);
}

inputlevels button.logLevelFilter:hover {
    color: var(--color-primary);
    background-color: var(--color-primary-text1);
}

inputlevels button.active {
    background: var(--color-primary);
    background-color: var(--color-secondary-text1);
}

inputlevels button.left {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

inputlevels button.right {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Settings for the logs display */
logs {
    flex: 1;
    flex-direction: column;
}

log {
    flex: 1;
    border-bottom: 1px solid black;
    margin: 2px;
    display: flex;
    flex-direction: row;
    min-height: 3em;
}

log > * {
    margin-left: 5px;
    margin-right: 5px;
}

message {
    flex: 1;
}

.static_column {
    padding-left: 3px;
    padding-right: 3px;
    border-right: 1px solid green;
    overflow-x: scroll;
    overflow-wrap: break-word;
}

level {
    width: 5em;
    min-width: 5em;
    max-width: 5em;
}

date {
    width: 6em;

}

component {
    width: 12em;
}

/* Setting for the page navigation */
pagenavigation {
    width: 100%;
    text-align: center;
    margin: 7px;
}

pagenavigation button {
    background-color: var(--color-tertiary);
    color: var(--color-tertiary-text1);
}

pagenavigation button:hover {
    color: var(--color-primary);
    background-color: var(--color-primary-text1);
}