manage_zones {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

manage_zones div {
    display: block;
}

manage_zones zone {
    display: block;
    /* padding: 5px; */
    margin: 10px;
    
     border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border: 0.06em solid var(--color-line-divider-bold);
    overflow: hidden;
    
}

manage_zones zone row {
    /* border-top: 1px solid rgba(32, 32, 34, 0.5); */

    border-top: 0.04em solid var(--color-line-divider-subtle);
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 0px;

   
}

row.header {
    color: var(--color-secondary-text); 
    background-color: var(--color-secondary);
    padding-right: 10px;
    border: 0px;
    font-variant: small-caps;
}

manage_zones zone row name {
    flex: 1;
    padding-left: 5px;
    /* border: 1px solid green; */
    
}

manage_zones zone row data {
    flex: 1;
    /* border: 1px solid orange; */
    
}

manage_zones zone row list {
    flex: 1;
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column
    
}

manage_zones zone row list listitem {
    flex: 1;
    /* border: 1px solid orange; */
    
}

manage_zones zone row schedules {
    display: flex;
    flex: 1;
    flex-direction: column
}

manage_zones zone row schedules schedule {
    margin: 0.75em;
    border: 0.05em solid var(--color-line-divider-bold);
    border-radius: 1em;
    overflow: hidden;
    padding-top: 1em;
    
}




manage_zones zone row schedules schedule srow {
    /* padding-left: 15px; */
    border: 0px;
    display: flex;
    flex: 1;
    flex-direction: row;

}

manage_zones zone row schedules schedule srow:not(:last-child)
{
    border-bottom: 0.04em solid var(--color-line-divider-subtle);
}

srow > name {
    margin-left: 1em;
    padding: 0.3em;

}

manage_zones zone row.subheader {
    background-color: var(--color-secondary-accent);
    color: var(--color-secondary);
}
    
listitem.enabled {
    color: green;
}

img.checkmark {
    width: auto;
    height: 15px;
}

img.enabled {
    visibility: visible;
}

img.disabled {
    visibility: hidden;
}

