#content_settings {
    display: flex;
    flex: 1;
    overflow-y: scroll;
    /* border: 1px solid red; */
}

#content_settings content {
    flex: 1;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}



group
{
    /* border: 1px solid black; */
    display: block;
    overflow: hidden;
    border: 1px solid #a2a2a2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}

subgroup
{
    /* border: 1px solid red; */
    display: block;
    margin-top: 15px;
}

alerts {
    display: flex;
    flex-direction: column;
    min-height: max-content;
    min-width: max-content;
    border: none;
    padding: none;
}

alerts div {
    flex: 1;
    display: block;
    
}

row 
{
    display: flex;
    flex-direction: row;
    min-height: max-content;
    min-width: max-content;
    border-bottom: 1px solid #F5F5F5;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

row h3 {
    margin: 5px;
}

row.title {
    background: var(--color-secondary);
    color: var(--color-secondary-text);
    padding-left: 0px;
    font-weight: bolder;
    font-variant: small-caps;
}

row.subtitle {
    padding-left: 0px;
    font-variant: small-caps;
    font-size: 14pt;
}
row h3 {
    padding-left: 5px;
}
row label,h4,h3,h2,h1 {
    flex: 1;
    line-height: 2em;
    padding-top: 5px;
    padding-left: 10px;
}

row div {
    flex: 1;
    display:block;
}

row input {
    width: 20em;
}

row button,input {
    align-content: right;
}

row.user_input
{
    display: flex;
}

row.subgroup_header
{
    font-style: italic;
}

/* input {
    flex: 1;
    margin: 8px;
} */

label.header {
    text-align: center;
    font-variant: small-caps;
    font-style: italic;
    font-size:12pt;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


/* PIN MAPPING */
twofieldsettingsgrid {
    min-height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    align-items: center;
    padding-right: 10px;
}

twofieldsettingsgrid > label.actions {
    margin-left: 5px;
    margin-right: 5px;
    
}

twofieldsettingsgrid > label {
    text-align: center;
    line-height: 3em;
}

twofieldsettingsgrid > input {
    margin-left: 5px;
    margin-right: 5px;
}

simple_settings {
    display: grid;
    height: min-content;
    grid-template-columns: 1fr 0px auto;
    align-items: center; /* Vertical alignment in the cell */
    padding-right: 10px;

}

simple_settings > .subheader_title,.subheader_title_with_buttons {
    grid-column: 1 /  span 3;
    margin-left: 5px;
    margin-top: 5px;
    font-size:14pt;
    padding-left: 5px;
    border: none;
}

simple_settings > .subheader_title_with_buttons {
    grid-column: 1 / span 2;
}


simple_settings label  {
    /* border: 1px solid red; */
    font-family: 'Montserrat', sans-serif !important;
    line-height: 3em;
    border: none;
    padding-left: 20px;
    margin: 0px;
    
}

line {
    border-bottom: 1px solid #F5F5F5;
    grid-column: 1 /  span 3;
}


/* Styling for app updater page */

commit_history {
    display: grid;
    grid-template-columns: auto auto 1fr;
}

commit_history > message {
    grid-column: 1 / span 3;
}

commit_history > line {
    grid-column: 1 / span 3;
    border-bottom: 0.1em solid #F5F5F5;
}

commit_history > line.thick {
    grid-column: 1 / span 3;
    border-bottom: 0.3em solid var(--color-secondary);
    margin-bottom: 1em;
}

commit.hash {
    overflow: hidden;
}

commit {
    margin-left: 5px;
    margin-right: 5px;
    line-height: 2em;
    font-size: 1em;
}

commit.header {
    /* border-bottom: 2px solid black; */
    font-size: 1.5em;
    font-variant: small-caps;
}

/* Create badge for the status icons */
.version {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 6px;
    font-variant: small-caps;
    line-height: 1.7em;
    display: inline-block;
    width: -webkit-fill-available;
    margin-bottom: 0.3em;
    text-align: center;
    font-weight: bolder;
    font-size: 1.1em;
    
}

.current {
    background-color: greenyellow;
    border: 1px solid darkgreen;
}

.latest {
    background-color: rgb(31, 84, 138);
    border: 1px solid rgb(141, 141, 199);
    color: white;
}

commit.hidden {
    display: none;
}

versions {
    width: 5em;
}