:root 
{

    /* Orange and Blue */
    /* --color-legend-1: #0b3c5d;
    --color-legend-2: #F5F5F5;
    --color-legend-3: orange;
    --color-legend-4: #1d2731;
    --color-legend-5: white; */

    /* --color-legend-1: #044471;
    --color-legend-2: #9acbee;
    --color-legend-3: #e33d00;
    --color-legend-4: #FFb99E;
    --color-legend-5: #FFb99E; */


    /* Dark Green Theme */
    --color-legend-1: #003b46;
    --color-legend-8: #378391;

    --color-legend-2: #1c696d;

    --color-legend-3: #c5b46a;
    --color-legend-7: #9b8833;

    --color-legend-4: #66A5AD;
    --color-legend-6: white;

/* Primary colour */
--color-primary: var(--color-legend-1);
--color-primary-text: var(--color-legend-6); /* Text colour */
--color-primary-accent: var(--color-legend-3); /* Focus/Hover colour */


--color-secondary: var(--color-legend-2);
--color-secondary-text: var(--color-legend-6);
--color-secondary-accent:  var(--color-legend-4);


--color-tertiary: var(--color-legend-3);
--color-tertiary-text: var(--color-legend-6);

--color-button-text:  var(--color-primary-text);
--color-button-gradiant-top: var(--color-legend-3);
--color-button-gradiant-bottom: var(--color-legend-7);
--color-button-hover-text: var(--color-primary-accent);
--color-button-hover-gradiant-top: var(--color-legend-8);
--color-button-hover-gradiant-bottom: var(--color-legend-1);

--color-line-divider-subtle: #F5F5F5;
--color-line-divider-bold: rgb(170, 168, 168);
}

