#content_logs{
    display: flex;
    flex: 1;
    overflow-y: scroll;
    flex-direction: column
}








/* Settings for the logs display */
logs {
    /* flex: 1;
    flex-direction: column; */
    display: grid;
    grid-template-columns: auto auto auto auto;
}



.log_cell {
    padding: 3px;
    border-bottom: 1px solid var(--color-line-divider-bold);
    overflow-x: scroll;
    overflow-wrap: break-word;
}

/* Setting for the page navigation */
pagenavigation {
    width: 100%;
    text-align: center;
    margin: 7px;
}
