:root 
{

    /*
    1= Major
    8 = Major gradiant (lighter)

    2 = Secondary
    3 = Tert
    7 = Tert gradiant
    4 = Tert accent
    6 = Text (white for most)
    */

    --color-legend-1: rgb(8, 55, 56);
    --color-legend-8:  rgb(55, 108, 110);
    
    --color-legend-2: rgb(253, 141, 49);
    
    --color-legend-3: rgba(149, 198, 35, 1);
    --color-legend-7: rgb(104, 141, 16);

    --color-legend-4: rgb(42, 49, 49);
    --color-legend-6: rgba(239, 231, 218, 1);

    


    /* Primary colour */
    --color-primary: var(--color-legend-1);
    --color-primary-text: var(--color-legend-6); /* Text colour */
    --color-primary-accent: var(--color-legend-3); /* Focus/Hover colour */


    --color-secondary: var(--color-legend-2);
    --color-secondary-text: var(--color-legend-6);
    --color-secondary-accent:  var(--color-legend-4);


    --color-tertiary: var(--color-legend-3);
    --color-tertiary-text: var(--color-legend-6);

    --color-button-text:  var(--color-primary-text);
    --color-button-gradiant-top: var(--color-legend-3);
    --color-button-gradiant-bottom: var(--color-legend-7);
    --color-button-hover-text: var(--color-primary-accent);
    --color-button-hover-gradiant-top: var(--color-legend-8);
    --color-button-hover-gradiant-bottom: var(--color-legend-1);

    --color-line-divider-subtle: #F5F5F5;
    --color-line-divider-bold: rgb(170, 168, 168);
}

